
// Converted Variables


// Custom Media Query Variables


/*

   FORMS
   
*/

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;

  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0; 
    }
  }
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}
